@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #FAFAFA;
    --secondary-color: #1F6299;
    --accent-color: #B9660A;
    --additional-accent-color: #000000;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --navigation-background-color: #B9660A;
    --navigation-link-color: #000000;
    --navigation-hover-link-color: #FAFAFA;
    --navigation-hover-background-color: #1F6299;
}

/* Header and navigation */
header {
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: var(--navigation-background-color);
    text-align: center;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;

}
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--navigation-hover-link-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--navigation-hover-link-color);
    color: var(--accent-color);
}

/*Body*/
body {
    font-family: var(--paragraph-font);
    padding: 20px;
    max-width: 1020px;
    border: #979494 solid 2px;
    margin: 20px auto;
}

/*maim*/

body {
    font-family: var(--paragraph-font);
    padding: 20px;
    max-width: 1020px;
    border: #979494 solid 2px;
    margin: 20px auto;
    text-align: center;
}

main {
    margin: 5rem 0;  
}

.image-container {
    display: inline-block;
    border: #1F6299 solid;
    padding: 0;
}

/* Footer */
.footer-container {
    grid-column: 2/4;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: #979494 solid 2px;
    background-color: rgba(67, 66, 66, 0.03);
}

.footer-container .p-container {
    grid-column: 2/17;
    grid-row: 1/2;
    text-align: center;
}

.sociallinks {
    grid-column: 18/21;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}