@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #FAFAFA;
    --secondary-color: #1F6299;
    --accent-color: #B9660A;
    --additional-accent-color: #000000;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --navigation-background-color: #B9660A;
    --navigation-link-color: #000000;
    --navigation-hover-link-color: #FAFAFA;
    --navigation-hover-background-color: #1F6299;
}


body {
    font-family: var(--paragraph-font);
    /* max-width: 960px; */
    padding: 20px;
    max-width: 1020px;
    border: #979494 solid 2px;
    margin: 20px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

.hero {
    position: relative;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(77, 71, 71,0.5);
    color: #e8e1e1;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 95%;
    background-color: rgba(25, 97, 213,0.6);
    display: flow-root;
}

article img {
    float: right;
    width: 10rem;
    padding: 1rem;
}

article p {
    padding:0.5rem;
    color: var(--navigation-hover-link-color);
}

/* new codes */
/* Header and navigation */
header {
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: var(--navigation-background-color);
    text-align: center;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;

}
nav {
    display: flex;
    justify-content: space-around
}

nav a {
    color: var(--navigation-hover-link-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--navigation-hover-link-color);
    color: var(--accent-color);
}


/* History */
.history-container {
    border: #979494 solid 2px;
    background-color: rgba(67, 66, 66, 0.03);

}
.history-h2-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.history-container h2 {
    grid-column: 7/11;
    grid-row: 1/2;
    text-align: center;
}

.history-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 2rem;
}

.history-content-container .p1 {
    grid-column: 2/6;
    grid-row: 1/2;
}

.history-img-div {
    grid-column: 7/11;
    grid-row: 1/2;
    text-align: center;
}

.history-content-container .p2 {
    grid-column: 12/16;
    grid-row: 1/2;
}

/* Adventure */
.adventure-container{
    border: #979494 solid 2px;
    margin-top:3.5rem;
    margin-bottom:1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.adventure-h2 {
    grid-column: 6/17;
    grid-row: 1/2;
    text-align: center;
}

.img1 {
    grid-column: 2/5;
    grid-row: 2/3;
    text-align: center;
}

.img1 img,  .img2 img, .img3 img, .img4 img, .img5 img{
    width: 100%;
}


.img2 {
    grid-column: 6/9;
    grid-row: 2/3;
    text-align: center;
}

.img3 {
    grid-column: 10/13;
    grid-row: 2/3;
    text-align: center;
}

.img4 {
    grid-column: 14/17;
    grid-row: 2/3;
    text-align: center;
}

.img5 {
    grid-column: 18/21;
    grid-row: 2/3;
    text-align: center;
}

/* Footer */

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: #979494 solid 2px;
    background-color: rgba(67, 66, 66, 0.03);
}

.footer-container .p-container {
    grid-column: 2/17;
    grid-row: 1/2;
    text-align: center;
}

.sociallinks {
    grid-column: 18/21;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}